// https://www.appdevtools.com/base64-encoder-decoder
body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    color: #101010;
    background-color: rgb(48, 48, 48);
    font-family: Roboto, sans-serif;
    place-content: center space-between;
    -webkit-box-pack: justify;
    margin: 48px auto 0px;

    width: 80%;
    top: 10%;
    left: 10%;
}

header {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: rgb(64, 64, 64) 0px 1px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;

    h1 {
        -webkit-box-align: center;
        align-items: center;
        color: rgb(255, 255, 255);
        display: flex;
        font-family: Barlow;
        font-size: 1.3em;
        font-weight: 700;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 0px;
    }

    h1::before {
        color: rgb(0, 150, 136);
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        margin-right: 15px;
    }

    a {
        background: rgb(226, 110, 14);
        border-radius: 3px;
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        padding: 2px 4px;
        text-decoration: none;
    }

    a::before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        margin-right: 4px;
        text-decoration: none;
    }
}

#converter {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px;
    justify-content: space-between;
}

.form-group {
    display: -moz-box;
    display: flex;
    flex-basis: 48%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

label {
    color: #f0f0f0;
    margin-top: 20px;
    margin-bottom: 10px;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
        0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(0, 0, 0, 0.3),
        inset 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #f0f0f0;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    outline: none;
    transition: box-shadow 0.1s cubic-bezier(0.4, 1, 0.75, 0.9);
    vertical-align: middle;
    font-family: -apple-system, Monaco, Menlo, Consolas, "Droid Sans Mono",
        Inconsolata, "Courier New", monospace;
}

button {
    display: inline-flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    -moz-box-pack: center;
    justify-content: center;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    min-height: 30px;
    min-width: 30px;
    margin-right: 10px;
}
